@import '../../../resize.scss';
.activities-card {
    border-radius: desktop(34);
    background: #FFF;
    box-shadow: 0px 16px 31px 0px rgba(0, 0, 0, 0.01);
    padding: desktop(34) desktop(36);
    width: desktop(470);

    &--title {
        color: #000;
        font-size: desktop(28);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &--info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: desktop(45);
    }

    &--info-data {
        color: #000;
        font-size: desktop(44);
        font-style: normal;
        font-weight: 400;
        opacity: .9;
        line-height: normal;
    }

    // &--info-picture {}
}