@import '../../../resize.scss';
.timesheets-timer {
    &--task {
        position: relative;
        width: 90%;

        input {
            color: #626262;
            font-size: desktop(20);
            border: none;
            outline: none;
            background: none;
            width: 100%;
        }

        &::before {
            content: '';
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);

            height: desktop(34);
            width: desktop(3);
            background-color: #FABB18;
            border-radius: desktop(6);
        }

        &__error {
            color: rgb(207, 2, 2);
            font-size: desktop(14);
            font-weight: 500;
            transform: translateY(desktop(5));
        }
    }

    &--wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &--time {
        display: flex;
        align-items: center;
        gap: desktop(22);
    }

    &--info {
        color: #888888;
        font-size: desktop(20);
        font-weight: 500;
    }

    &--button {
        cursor: pointer;
    }
}