<div class="timesheets-timer">
    <div class="timesheets-timer--wrapper">
        <div class="timesheets-timer--task">
            <input (input)="inputEvent($event.target)"  [placeholder]="taskPlaceholder" type="text" >
        </div>
        <div class="timesheets-timer--time">
            <div class="timesheets-timer--info">{{ hours | number:'2.0' }}:{{ minutes | number:'2.0' }}:{{ seconds | number:'2.0' }}</div>
            <img [src]="getTimerImage()" (click)="handleTimerEvent()" alt="alt" class="timesheets-timer--button">
        </div>
    </div>
    <div class="timesheets-timer--task__error" *ngIf="isError">The field can't be empty</div>
</div>