@import '../../../resize.scss';

.header {
    padding: desktop(10) desktop(20);
    display: flex;
    justify-content: space-between;

    .logo {
        text-transform: uppercase;
        font-size: desktop(36);
        color: #000;
        font-weight: 700;
    }

}