<div class="timesheets">
    <timesheets-timer (emitter)="onHandleTimerData($event)"></timesheets-timer>
    <div class="timesheets--info" *ngFor="let item of timeData">
        <div class="timesheets--info__label">
            <div class="timesheets--info__date">
                {{item.timestamp | date: 'EEEE, d' }}
            </div>
            <time-progress-bar [total]="item.totalTime"></time-progress-bar>
        </div>
        <div class="timesheets--info-data" >
            <timesheets-info *ngFor="let task of item.tasks" [title]="task.task.title" [time]="task.task.time"></timesheets-info>
        </div>
    </div>
</div>
