@import '../../../resize.scss';
.user-info {
    display: flex;
    align-items: center;
    gap: desktop(30);

    .user-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: desktop(5);
        .user-name {
            color: #000;
            text-align: right;
            font-size: desktop(16);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .user-info {
            color: #8F8F8F;
            text-align: right;
            font-size: desktop(12);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}