<div class="projects-list">
    <div class="title">Projects</div>
    <div class="projects-data">
        <div class="project" *ngFor="let project of projectsData">
            <div class="project-name">
                <img src="/assets/icons/project-image.png" alt="">
                <div class="project-title">{{project.title}}</div>
            </div>
            <div class="project-info">
                <div class="project-time">{{project.time}}</div>
                <time-progress-bar [total]="project.timeTotal"></time-progress-bar>
            </div>
        </div>
    </div>
</div>