@import '../../../resize.scss';
.menu {
    margin-top: desktop(100);
    padding: desktop(0) desktop(20);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - desktop(265));
    .navigate {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        gap: desktop(20);
        .item {
            padding: desktop(21) desktop(27);
            color: #000;
            font-size: desktop(18);
            display: inline-block;
            cursor: pointer;
            &-wrapper {
                display: flex;
                align-items: center;
            }
            img {
                width: desktop(26);
                height: desktop(26);
                margin-right: desktop(23);
            }
        }
        .active {
            background-color: #000;
            border-radius: desktop(10);
            color: #fff;
        }
    }
    .logout {
        font-size: desktop(16);
        color: #5c5c5c;
        cursor: pointer;
        text-align: center;
    }
}