@import '../../../resize.scss';
.item {
    border-radius: desktop(34);
    background: #FFF;
    box-shadow: desktop(0) desktop(16) desktop(31) desktop(0) rgba(0, 0, 0, 0.01);
    padding: desktop(38) desktop(50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: desktop(515);
    gap: desktop(50);
    .title {
        font-size: desktop(28);
        font-weight: 500;
        color: #000;
    }
    .image {
        img {
            cursor: pointer;
        }
    }
    .timer {
        font-size: desktop(28);
        font-weight: 500;
        color: #000;
    }
}