@import '../../../resize.scss';
.timesheets-info {
    border: desktop(1) solid #F1F1F1;
    border-radius: desktop(14);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: desktop(15) desktop(17) desktop(15) desktop(19);

    &::before {
        content: '';
        position: absolute;
        left: desktop(10);
        top: 50%;
        transform: translateY(-50%);

        height: desktop(34);
        width: desktop(3);
        background-color: #FABB18;
        border-radius: desktop(6);
    }

    .info-title {
        font-size: desktop(18);
        color: #000;
        font-weight: 400;
    }

    .info-info {
        display: flex;
        align-items: center;
        gap: desktop(40);

        .info-time {
            background-color: #FFF8E8;
            padding: desktop(10) desktop(18);
            border-radius: desktop(10);
            font-size: desktop(16);
            color: #000;
            font-weight: 400;
        }

        
    }
}