<div class="dashboard">
    <div class="dashboard--head-wrapper">
        <div class="dashboard--info">
            <div class="dashboard--title">Today</div>
            <div class="dateboard--date">
                {{getDate | date: 'EE, d, y | h:mm a' }}
            </div>
        </div>
        <div class="main-timer-btn">
            <main-timer-button></main-timer-button>
        </div>
    </div>
    <div class="dashboard--activities">
        <activities-card *ngFor="let item of activitiesData" [name]="item.name" [info]="item.data" [image]="item.picture"></activities-card>
    </div>
    <div class="dashboard--projects">
        <projects></projects>
    </div>
</div>