@import '../../../resize.scss';
.dashboard {
    width: calc(100vw - desktop(267));
    height: 100vh;
    background-color: #F9F9F9;
    border-radius: desktop(18);
    padding: desktop(20);
    &--head-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: desktop(67) - desktop(20);
    }
    &--info {
        margin-left: desktop(43) - desktop(20);
    }
    &--title {
        font-size: desktop(54);
        color: #000;
        font-weight: 500;
    }
    &--date {
        font-size: desktop(28);
        color: #000;
        font-weight: 400;
        margin-top: desktop(5);
    }
    &--activities {
        margin-top: desktop(40);
        display: flex;
        align-items: center;
        gap: desktop(35);
    }
    &--projects {
        margin-top: desktop(40);
    }
}